<!DOCTYPE html>
<html lang="@System.Threading.Thread.CurrentThread.CurrentUICulture.Name">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, maximum-scale=1.0" />
    <meta name="keywords" content="@ViewBag.Keywords" />
    <meta name="description" content="@ViewBag.Description" />
    <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet">
    <link href="@Url.Content("~/Content/bootstrap-responsive.min.css")" rel="stylesheet">
    <link href="@Url.Content("~/Content/Site.less")" rel="stylesheet">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <script type="text/javascript" charset="utf-8" src="@Url.Content("~/Scripts/jquery-2.1.1.min.js")"></script>
    <script type="text/javascript" charset="utf-8" src="@Url.Content( "~/Scripts/jquery.unobtrusive-ajax.min.js" )"></script>
    <script type="text/javascript" charset="utf-8" src="@Url.Content( "~/Scripts/jquery.validate.min.js" )"></script>
    <script type="text/javascript" charset="utf-8" src="@Url.Content( "~/Scripts/jquery.validate.unobtrusive.min.js" )"></script>
    <script type="text/javascript" charset="utf-8" src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>
    <title>@ViewBag.Title</title>
    @Html.Partial("_GoogleTag")
    @RenderSection( "header", false )
</head>
<body>
    <div id="header-container" class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                <nav class="container header-nav">
                    <div class="row-fluid">
                        <div class="span12">
                            <a href="@Url.Action( "Index" )">
                                <img alt="Signature" class="header-logo pull-left" src="@Url.Content("~/Content/logo-small.png")" />
                            </a>
                            <a class="expand-menu" href="javascript:void(0);"><img src="@Url.Content("~/Content/images/menu.png")" alt="menu" /></a>
                            <ul class="nav nav-pills pull-right header-links">
                                <li @Html.Raw(ViewBag.Page == "Index" ? "class=\"active\"" : "")><a href="@Url.Action( "Index" )">Accueil</a></li>
                                @*<li><a target="_blank" href="http://blog.invenietis.com">Blog</a></li>*@
                                <li @Html.Raw(ViewBag.Page == "Contact" ? "class=\"active\"" : "")><a href="@Url.Action( "Contact" )">Contactez-nous</a></li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
    <div id="body-container" class="container-fluid">
        @RenderBody()
    </div>
    <div id="footer-container" class="container-fluid">
        <footer class="row-fluid">
            <div class="container">
                <div class="row-fluid">
                    <div class="span3">
                        <strong>Nous connaitre</strong>
                        <ul>
                            <li><a href="@Url.Action( "Index" )">Accueil</a></li>
                            @*<li><a target="_blank" href="http://blog.invenietis.com">Blog</a></li>*@
                            <li><a href="@Url.Action( "Contact" )">Contactez-nous</a></li>
                        </ul>
                        <strong>Nos produits</strong>
                        <ul>
                            <li><a href="@Url.Action( "CKMultiPlan" )">CK-MultiPlan</a></li>
                            @*<li><a href="https://get-package.com" target="_blank">Get-Package</a></li>*@
                            @*<li><a href="http://civikey.fr" target="_blank">CiviKey</a></li>*@
                        </ul>
                        <strong>Langues</strong>
                        <ul>
                            <li><a href="@Url.RouteUrl(new { action= ViewContext.RouteData.Values["action"], culture="fr"})">Français</a></li>
                            <li><a href="@Url.RouteUrl(new {action= ViewContext.RouteData.Values["action"], culture="en"})">English</a></li>
                        </ul>
                    </div>
                    <div class="span6 center fellowus">
                        <strong>Suivez-nous sur</strong>
                        <div class="follow">
                            <a class="twitter" href="https://twitter.com/invenietiscorp" target="_blank"></a>
                            <a class="github" href="https://github.com/Invenietis" target="_blank"></a>
                            <a class="facebook" href="https://www.facebook.com/Invenietis" target="_blank"></a>
                        </div>
                        <img class="mslogo" src="@Url.Content("~/Content/images/microsoft_black-tw-mini.png")" />
                    </div>
                    <div class="span3">
                        <div class="pull-right address">
                            <address>
                                <strong>Signature Code</strong>
                                <a class="minimap" href="@Url.Action( "Contact" )"></a>

                                10, rue Mercoeur<br>
                                75011 - Paris<br>
                                France<br /><br />
                                E-mail: <a href="" class="contact-email-s">...</a><br />
                                <abbr title="Téléphone">Tél. :</abbr> (+33) 01 84 16 19 99
                            </address>
                        </div>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span12 center">
                        <div class="legal">
                            <p>
                                <img src="@Url.Content("~/Content/images/logo.png")" />
                            </p>
                            <span>
                                Copyright &copy; @DateTime.Now.Year Signature SAS. Tous droits réservés.
                                <a href="@Url.Action( "Legal" )"> Mentions légales</a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    @RenderSection("js", required: false)
    <script type="text/javascript">
        !function () { function e(e) { this.message = e } var t = "undefined" != typeof exports ? exports : "undefined" != typeof self ? self : $.global, r = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+/="; e.prototype = new Error, e.prototype.name = "InvalidCharacterError", t.btoa || (t.btoa = function (t) { for (var o, n, a = String(t), i = 0, f = r, c = ""; a.charAt(0 | i) || (f = "=", i % 1); c += f.charAt(63 & o >> 8 - i % 1 * 8)) { if (n = a.charCodeAt(i += .75), n > 255) throw new e("'btoa' failed: The string to be encoded contains characters outside of the Latin1 range."); o = o << 8 | n } return c }), t.atob || (t.atob = function (t) { var o = String(t).replace(/[=]+$/, ""); if (o.length % 4 == 1) throw new e("'atob' failed: The string to be decoded is not correctly encoded."); for (var n, a, i = 0, f = 0, c = ""; a = o.charAt(f++); ~a && (n = i % 4 ? 64 * n + a : a, i++ % 4) ? c += String.fromCharCode(255 & n >> (-2 * i & 6)) : 0)a = r.indexOf(a); return c }) }();
    </script>
    <script type="text/javascript">
        $(function () {
            var c = 'Y29udGFjdEBz#WduYXR1cmUtY29k^S5jb20=';
            c = atob(c.replace('#', 'a').replace('^', 'Z'));

            $('a.contact-email-s').attr("href", "mailto:" + c);
            $('.contact-email-s').text(c);

            $('.expand-menu').click(function () {
                $('.header-links').toggleClass('visible');
            });
        });
    </script>
</body>
</html>