@model InvPortal.Models.SupportEmailViewModel

<div class="control-group">
    <label class="control-label" for="email">Adresse email : </label>
    <div class="controls">
        @Html.TextBoxFor( m => m.Email, new { placeholder = "Adresse email", @class = "input-xxlarge" } )
        @Html.ValidationMessageFor( m => m.Email )
    </div>
</div>

<div class="control-group">
    <label class="control-label" for="subject">Objet de la question : </label>
    <div class="controls">
        @Html.TextBoxFor( m => m.Subject, new { placeholder = "Objet", @class = "input-xxlarge" } )
        @Html.ValidationMessageFor( m => m.Subject )
    </div>
</div>

<div class="control-group">
    <label class="control-label" for="exampleInputFile">Rédigez ici votre question : </label><br />
    <div class="controls">
        @Html.TextAreaFor( m => m.Body, new { rows = 8, cols = 49, @class = "input-xxlarge" } )
        @Html.ValidationMessageFor( m => m.Body )
    </div>
</div>

<div class="control-group">
    <div class="controls">
        <button type="submit" class="btn btn-primary">Envoyer</button>
    </div>
</div>




