@model Invenietis.Blog.BlogContext
@{
    Layout = "~/Views/Shared/_Layout.fr.cshtml";
    ViewBag.Title = "Gestion des articles";
    ViewBag.Keywords = "";
    ViewBag.Description = "";
}


<h2>Gestion des articles</h2>

<div class="row-fluid">
            <div class="span12">
                <header class="landing-header top-bx backphoto">
                    <div class="container">
                        <div class="row-fluid">
                            <div class="span12">
                                <h1 class="htitle">Gestion des articles</h1>
                            </div>
                        </div>
                    </div>
                </header>
            </div>
</div>

<div class="row-fluid">
            <div class="span12 orange double-bx">
                <section class="container">
                    <div class="row-fluid">
  @{var m = new Invenietis.Blog.BlogContext();
                                        var s = m.CreateBlogSource();
                                     s.CreateBlog( new Uri( "http://macdarwin.github.com/atom.xml" ) );
                                     var s2 = m.CreateBlogSource();
                                     s2.CreateBlog( new Uri("http://cedricdotnet.blogspot.com/feeds/posts/default") );
                                    }
                                    Blog de @s.AuthorName;
                                    Articles :
                                    @{var refresh = new Invenietis.Blog.BlogRefreshResult();
                                      refresh = @s.RefreshFromUri( new Uri( "http://macdarwin.github.com/atom.xml" ) );
                                    }
                                    @foreach( var article in s.Articles )
                                    {
                                      <br />
                                        @article.OriginalTitle   
                                        @article.LastModificationDate
                                        @article.Source.BlogTitleFR
                                        @article.Source.AuthorName
                                        @article.Uri
                                        @article.Status
                                        <br />
                                        <br />
                                        
                                    }
                                    <br />
                                    Blog de @s2.AuthorName;
                                    @{
                                        refresh = @s2.RefreshFromUri( new Uri( "http://cedricdotnet.blogspot.com/feeds/posts/default" ) );
                                    }
                                    <table class ="articles">
                                        <td>Article</td>
                                        <td>Status</td>
                                        <td>Action</td>
                                        @foreach( var a in s2.Articles )
                                        {    
                                            <td>@a.OriginalTitle</td>
                                            <td>@a.Status</td>
                                            if(@a.Status == Invenietis.Blog.BlogArticleStatus.New) 
                                            {
                                            <td>    
                                                <div class ="btn-group btn-group-vertical">
                                                    <a class ="btn"> Publish </a>
                                                    <a class ="btn"> Hide</a>
                                                </div>
                                            </td>
                                            }
                                        }
                                        
                                </table>
                                    
                                                                       
                                        </div>
                </section>
            </div>
        </div>


                                


                                